*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.class
*.log
*.tmp
Thumbs.db
app/build/
app/release/
app/debug/
app/*.apk
app/*.aab
*.hprof
*.prof
*.keystore
!gradle/wrapper/gradle-wrapper.jar
